/* intuitivnejší box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
	BARVY
	#f5f5f5					šedé pozadí stránky
					modrá čárka
	Jedeme retro černobíle (až na tu modrou), dnes další barvy nepotřebujeme.

	FONTY
	Merriweather		základní font na stránce
	Raleway					nadpisy a menu
	Oba fonty jsou dostupné na Google Fonts.
*/
:root {
	--svetla:#f5f5f5 ;
	--seda: #D3D3D3; 
	--svetlounka: #E8E8E8;
	--tmava: #909090 ;
	--modra:#629fe0 ;
	
}

body {
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	font-size: 16px;
	line-height: 1.6;
	font-family: 'Merriweather', serif;
	max-width: 540px;
}

.major {
	font-size: 48px;
	margin: 0;
}

.minor::after {
	content: "";
	display: block;
	width: 80px;
	height: 4px;
	background-color: var(--modra);
	margin-left: -20px;
	margin-top: 20px;
}

nav a, 
.title {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

article {
	padding: 0 20px;
} 

section {
	margin: 40px 0;
}

/* --- Header --- */

header {
	text-align: center;
	color: white;
	background-image: url(images/island-hlavicka.jpg);
	background-position: center;
	background-size: cover;
	padding: 35px;
}

header::before {
	content: "";
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* --- autor --- */

.author {
	font-style: italic;
	color: #D3D3D3;
}

.author::before {
	content: "";
	display: block;
	width: 100px;
	height: 2px;
	background-color: #D3D3D3;
	margin: 0 40%;
}

/* --- author + header togehther properties--- */

header,
header .major,
header p, 
.author,
.author::before{
	position: relative;
}

header article {
	padding: 0;
}

header, 
content, 
footer {
	max-width: 540px;
	margin: 0 auto;
}

 
/* --- MENU --- */

nav {
	text-align: center;
}

nav li {
	list-style-type: none;
	border-bottom: 2px solid #E8E8E8;
	padding: 5px 0;
 }

nav a {
	text-decoration: none;
	text-transform: uppercase;
	color: #909090;
	font-weight: 400;
 }

/* --- obrázky v contentu --- */

.image {
	position: relative;
	text-align: center;
	font-size: 13px;
	margin: 40px 0
}

.image img {
	max-width: 100%;
	height: auto;
}

.image p,
.image a {
	color: #909090;
	margin: 0;
}

/* --- Gallery ---- */
.foto {
	text-align: center;
}

.foto img {
	width: 100%;
}

.name {
	font-weight: 700;
}

.foto p {
	margin-top: 0;
	margin-bottom: 20px;
}

.foto a {
	margin: 0;
}

.foto, 
.foto a {
	color: #909090 ; 
}

